<form action="/add_patient" method="post">
    ID: <input type="number" name="id"><br>
    Имя: <input type="text" name="name"><br>
    Дата рождения: <input type="date" name="date_of_birth"><br>
    История болезней: <input type="text" name="Medical_History"><br>
    Аллергия: <input type="text" name="allergy"><br>
    Принимаемые лекарства: <input type="text" name="medication_taken"><br>
    Последний cпециалист: <input type="text" name="last specialist"><br>
    Симптомы: <input type="text" name="symptoms"><br>
    Предыдущие процедуры: <input type="text" name="previous_dental_procedures"><br>
    Вредные привычки: <input type="text" name="bad_habitats"><br>

    <!-- Добавьте другие поля, если нужно -->
    <input type="submit" value="Добавить">
</form>
