<link rel="stylesheet" href="{{ url_for('static', filename='css/add_patient.css')}}">
<body>
    <form action="/add_patient" method="post">
        <ul>
            <li>Имя: <input type="text" name="name"></li>
            <li>Дата рождения: <input type="date" name="date_of_birth"></li>
            <li>Номер телефона: <input type="text" name="phone_number"></li>
            <li>История болезней: <input type="text" name="Medical_History"></li>
            <li>Аллергия: <input type="text" name="allergy"><li>
            <li>Принимаемые лекарства: <input type="text" name="medication_taken">><li>
            <li>Последний cпециалист: <input type="text" name="last specialist"><li>
            <li>Симптомы: <input type="text" name="symptoms"><li>
            <li>Предыдущие процедуры: <input type="text" name="previous_dental_procedures"><li>
            <li>Вредные привычки: <input type="text" name="bad_habitats"><li>

            <!-- Добавьте другие поля, если нужно -->
            <input type="submit" value="Добавить">
        </ul>

    </form>

</body>

