<!DOCTYPE html>
<html>
<head>
    <title>Список записей</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/appointments_list.css') }}">
    <style>
        /* Добавляем стили границ для ячеек таблицы */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd; /* Цвет и стиль границ */
            padding: 8px; /* Отступ внутри ячейки */
            text-align: left; /* Выравнивание текста по левому краю */
        }
    </style>
</head>
<body>
    <a href="/add_patient">Добавить пациента</a><br>
    <a href="/add_doctor">Добавить врача</a><br>
    <a href="/add_appointment">Добавить прием</a><br>
    <a href="/doctor_list">Список Врачей</a><br>
    <a href="/add_appointment">Добавить запись на приём</a><br>
    <a href="/patientlist">Список пациентов</a><br>
    <a href="/add_treatment">Добавить рецепт</a><br>
    <a href="/treatment_list">Список рецептов</a><br>
    <h1>Список пациентов</h1>
    <table>
        <thead>
            <tr>
                <th>ID приёма</th>
                <th>ФИО доктора</th>
                <th>Дата</th>
                <th>Время</th>
                <th>ID Пациента</th>
                <th>Кабинет</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment  in appointments  %}
            <tr>
                <td>{{ appointment[0] }}</td>
                <td>{{ appointment[1] }}</td>
                <td>{{ appointment[2] }}</td>
                <td>{{ appointment[3] }}</td>
                <td>{{ appointment[4] }}</td>
                <td>{{ appointment[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
